[
  {n2o, [{port,8001},{route,routes},{log_modules,verapi}]},
  {vera_client,[
      {vera_uri, {"192.168.1.5", "3480"}},
      {armed_scene_id, 8},
      {disarmed_scene_id, 9},
      {scene_control_res, "/data_request?id=lu_action&serviceId=urn:micasaverde-com:serviceId:HomeAutomationGateway1&action=RunScene&SceneNum="}
    ]}
].
